.addToCartButton {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    line-height: 45px;
    }
  
  .addToCartButton:hover {
    background-color: #080953;
    box-shadow: 0px 15px 20px rgba(12, 5, 111, 0.4);
    color: #fff;
    transform: translateY(-3px);
  }